
<td height="270" valign="top">
  <table width="626" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td height="257" align="center" valign="top" background="images/image_08.gif"><table width="600" height="271"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="22" align="center" valign="top" class="word_orange"><strong>本站公告信息</strong></td>
          </tr>
          <tr>
            <td height="249" align="center" valign="top"><br>
              <table width="460"  border="1" align="center" cellpadding="1" cellspacing="1" bordercolor="#FFFFCC" bgcolor="#DFDFDF" controller="intercept">
                <tr bgcolor="#E3E3E3" ng-repeat="info in allInto" >
                  <td height="24" align="left" bgcolor="#FFFFFF">&nbsp;&nbsp;<img src="images/xing.gif" width="9" height="9"> {{info.title}} </td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
  </table>
</td>
