	<td height="270" valign="top">
			<table width="626" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="257" align="center" valign="top" background="images/image_08.gif"><table width="600" height="257"  border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="22" align="center" valign="top" class="word_orange"><strong>添加公告信息</strong></td>
                  </tr>
                  <tr>
                    <td height="235" align="center" valign="top"><table width="500" height="226"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td height="226" align="center" valign="top">
                            <form name="form2" method="post" action="" ng-controller="modify">
                              <table width="520" height="212"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                  <td width="87" align="center">公告主题：</td>
                                  <td width="433" height="31"><input name="txt_title" type="text" size="40" ng-model="txt_title">* </td>
                                </tr>
                                <tr>
                                  <td height="124" align="center">公告内容：</td>
                                  <td><textarea name="txt_content" cols="50" rows="8" id="txt_content" ng-model="txt_content"></textarea></td>
                                </tr>
                                <tr>
                                  <td height="40" colspan="2" align="center"><input name="Submit" type="button" class="btn_grey" value="保存" ng-click="check(form2);">
&nbsp;                                    <input type="reset" name="Submit2" value="重置"></td>
                                </tr>
                              </table>
                          </form></td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table>			</td>


